.overall {
    overflow: "auto";
    width: 80%;
    height: 100%;
    float: right;
    line-height: 1.5;
}

.category-name {
    font-size: 35px;
    text-align: center;
    color: #003366;
    font-weight: bold;
}

.section-title {
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 35px;
    color: red;
    font-weight:bold;
}

h2 { /* subsection headers */
    color: mediumvioletred;
    font-style: bold;
}

p, select, input {
    font-size: 24px;
    color: black;
    font-family: "Times New Roman";
}

.instructions {
    font-size: 20px;
    color: red;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

/* td {
    text-align: center;
} */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.word-bank {
    text-align: center;
    word-spacing: 40px; /* variable */
}

.role {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.script-text {
    font-size: 24px;
    color: purple;
    font-style: italic;
}

.float-select {
    position: relative;
    bottom: 60px; /* variable */
}

.vocab {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.pos {
    font-size: 24px;
    color: red;
    font-style: italic;
}

.english {
    font-size: 24px;
    color: black;
    font-style: italic;
}